:root {
    font-family: 'Rosario', sans-serif;
    font-size: 10px;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

    /*Головне меню*/

header {
    position: fixed;
    z-index: 2;
}

.navigation {
    height: 10rem;
    width: 100vw;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 10rem;
}

.logo img {
    height: 100%;
}

.navlist {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    margin-right: 3rem;
}

.navitem {
    margin-left: 3rem;
}

.navlink {
    font-size: 3.6rem;
    font-weight: 700;
    font-style: italic;
    color: #FFFFFF;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 162rem;
    margin: auto;
}

    /*Сторінка*/

.fullpage {
    padding-top: 10rem;
    box-sizing: border-box;
    height: 100vh;
}

    /*Сторінка Gallery*/

.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery img {
    width: 100%;
    margin: 1rem 0;
}

.gallery_left, .gallery_right {
    width: 25%;
    padding: 1rem;
    margin: 1rem;
    box-sizing: border-box;
}

.gallery_leftgroup, .gallery_rightgroup {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 25%;
    padding: 1rem;
    box-sizing: border-box;
}

.gallery_leftgroup {
    position: relative;
    animation: gallery_leftgroup 1s linear;
}

@keyframes gallery_leftgroup {
    from {left: -100%;}
    to {left: 0;}
}

.gallery_rightgroup {
    position: relative;
    animation: gallery_rightgroup 1s linear;
}

@keyframes gallery_rightgroup {
    from {right: -100%;}
    to {right: 0;}
}

.gallery_left {
    position: relative;
    animation: gallery_left 2s linear;
}

@keyframes gallery_left {
    from {left: -100%;}
    to {left: 0;}
}

.gallery_right {
    position: relative;
    animation: gallery_right 2s linear;
}

@keyframes gallery_right {
    from {right: -100%;}
    to {right: 0;}
}

    /*Сторінка Services*/

.services_circles {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.circle {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.circle_img {
    width: 35vh;
    padding: 1rem;
    box-sizing: border-box;
    text-align: center;
}

.circle_img img {
    width: 80%;
}

.circle_description {
    font-size: 3.6rem;
    font-weight: 700;
    font-style: italic;
    text-align: center;
}

.services_photo {
    width: 45%;
    display: flex;
    justify-content: flex-end;
    margin-left: 5%;
}

.services_photo img {
    width: 100%;
}


.circle_tl {
    position: relative;
    animation: circle_tl 10s infinite;
}

@keyframes circle_tl {
    0% {translate: 0% 0%;}
    25% {translate: 100% 0%;}
    50% {translate: 100% 100%;}
    75% {translate: 0% 100%;}
}

.circle_tr {
    position: relative;
    animation: circle_tr 10s infinite;
}

@keyframes circle_tr {
    0% {translate: 0% 0%;}
    25% {translate: 0% 100%;}
    50% {translate: -100% 100%;}
    75% {translate: -100% 0%;}
}

.circle_br {
    position: relative;
    animation: circle_br 10s infinite;
}

@keyframes circle_br {
    0% {translate: 0% 0%;}
    25% {translate: -100% 0%;}
    50% {translate: -100% -100%;}
    75% {translate: 0% -100%;}
}

.circle_bl {
    position: relative;
    animation: circle_bl 10s infinite;
}

@keyframes circle_bl {
    0% {translate: 0% 0%;}
    25% {translate: 0% -100%;}
    50% {translate: 100% -100%;}
    75% {translate: 100% 0%;}
}

    /*Сторінка Team*/

.team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 9.6rem;
    font-weight: 700;
    margin: 0 0 2rem;
}

.team_cards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.team_cards_card {
    width: 17%;
    box-sizing: border-box;
    border-radius: 3rem;
    position: relative;
}

.team_cards_card img {
    width: 100%;
}

.team_cards_card_name {
    height: 25%;
    width: 100%;
    border-radius: 0 0 3rem 3rem;
    position: absolute;
    bottom: 0;
    background: rgba(163, 83, 10, 0.7);
    font-family: 'Volkhov', serif;
    font-size: 4rem;
    color: #FFFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.team_cards_card:hover .team_cards_card_name {
    visibility: visible;
}

.team_cards:hover .team_cards_card {
    filter: brightness(.5);
    transition: all .3s linear;
}

.team_cards_card:hover {
    filter: brightness(1)!important;
    transition: all .3s linear;
}

    /*Сторінка Contact*/

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95%;
}

.contact_section {
    display: flex;
    justify-content: space-between;
}

.contact_section_form {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 5.2rem;
    font-weight: 700;
    font-style: italic;
    margin: 0 0 2rem;
    text-align: center;
}

form {
    width: 100%;
    background-color: #E5E5E5;
    box-sizing: border-box;
}

.contact_form_elements {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2%;
    box-sizing: border-box;
}

input {
    height: 5rem;
    width: 48%;
    border: 0;
}

input::placeholder {
    font-size: 2.4rem;
    font-weight: 700;
    padding-left: 1.5rem;
    font-family: 'Rosario', sans-serif;
}

textarea {
    width: 100%;
    height: 15rem;
    resize: none;
    border: 0;
}

textarea::placeholder {
    font-size: 2.4rem;
    font-family: 'Rosario', sans-serif;
    padding-left: 1.5rem;
}

.contact_section_map {
    width: 42%;
}

.contact_section_map iframe {
    width: 100%;
    height: 40rem;
}

.contact_info {
    display: flex;
    justify-content: space-evenly;
    font-size: 2.8rem;
    font-style: italic;
    font-weight: 600;
    margin-top: 2rem;
}

.contact_info a {
    color: #000000;
}

.contact_info_column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
}

.contact_info_column p {
    margin: 0;
    text-align: center;
}

.contact_info_links {
    width: 39%;
}

.info_text {
    font-style: normal;
    font-weight: 700;
}

.contact_info_hours {
    width: 36%;
}

h3 {
    font-size: 3.6rem;
    font-weight: 700;
    margin: 0 0 2rem;
    text-align: center;
}

.contact_info_media {
    width: 23%;
}

    /*Media запити*/

@media screen and (min-width:993px) and (max-width: 1200px) {
    :root {
        font-size: 7px;
    }

    .circle_img {
        width: 30vh;
    }

    .services_photo img {
        width: 100%;
    }

    .team_cards_card_name {
        font-size: 6rem;
    }    
}

@media screen and (min-width: 769px) and (max-width: 992px) {
    :root {
        font-size: 6px;
    }

    .fullpage {
        height: 100%;
    }

    #gallery {
        height: 100vh;
        margin-bottom: 200px;
    }

    .gallery_leftgroup {
        position: relative;
        top: -15%;
        animation: gallery_leftgroup 1s linear;
    }

    .gallery_left {
        position: relative;
        top: 50%;
        left: 25%;
        animation: gallery_left 2s 1s linear;
    }

    .gallery_rightgroup {
        position: relative;
        top: -15%;
        animation: gallery_rightgroup 1s linear;
    }

    .gallery_right {
        position: relative;
        top: 50%;
        right: 25%;
        animation: gallery_right 2s 1s linear;
    }

    .services {
        display: flex;
        flex-direction: column-reverse;
    }

    .circle_img {
        width: 30vw;
    }

    .services_photo {
        margin: auto;
    }
    
    .services_photo img {
        width: 100%;
    }

    h1 {
        font-size: 7rem;
    }

    .team_cards {
        flex-wrap: wrap;
    }

    .team_cards_card {
        width: 35%;
        margin-bottom: 3rem;
    }

    .team_cards_card_name {
        font-size: 7rem;
    }

    .contact_section, 
    .contact_info {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        font-size: 3.6rem;
    }

    .contact_section_form, 
    .contact_section_map, 
    .contact_info_column {
        margin-bottom: 5rem;
    }

    .contact_info_column {
        width: 60%;
    }

    .contact_section_map {
        width: 60%;
    }

    .contact_section_map iframe {
        height: 60rem;
    }

    h3 {
        font-size: 4.2rem;
    }
}

@media screen and (max-width: 768px) {
    :root {
        font-size: 6px;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .fullpage {
        height: 100%;
    }

    .navlink {
        font-size: 3rem;
    }

    .gallery {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .gallery_left {
        animation: gallery_left 1s linear;
    }

    .gallery_leftgroup {
        animation: gallery_rightgroup 1s 1s linear;
        position: relative;
    }

    .gallery_rightgroup {
        animation: gallery_leftgroup 1s 2s linear;
        position: relative;
    }

    .gallery_right {
        animation: gallery_right 1s 3s linear;
    }

    .services_photo {
        display: none;
    }

    .services_circles {
        width: 80%;
    }

    .circle_img {
        width: 30vw;
    }

    h1 {
        text-align: center;
    }

    .team_cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .team_cards_card {
        width: 70%;
        margin-bottom: 2rem;
    }

    .team_cards_card_name {
        font-size: 7rem;
    }

    .contact_section {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    } 
    
    .contact_info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contact_section_form, 
    .contact_section_map, 
    .contact_info_column {
        margin-bottom: 5rem;
        font-size: 3.6rem;
    }

    .contact_info_column {
        width: 70%;
    }

    .contact_section_map {
        width: 70%;
    }

    .contact_section_map iframe {
        height: 60rem;
    }

    h2 {
        font-size: 6.8rem;
    }

    h3 {
        font-size: 4.2rem;
    }
}


