body {
    margin: 0;
    background-color: #F0FFF0;
    color: #FFFFFF;
}

.center {
    margin: auto;
}

.main {
    width: 404px;
    height: 490px;
    background-color: #000000;
}

.logo {
    width: 144px;
    height: 144px;
    padding-top: 13px;
}

.welcome {
    font-size: 29px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 0.39em;
}

.links {
    width: 302px;
}

.link {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    border: 4px solid #FFFFFF;
    box-sizing: border-box;
    color: #FFFFFF;
    height: 50px;
    margin-top: 26px;
    text-align: center;
    padding-top: 0.5em;
    font-size: 19px;
    font-weight: 800;
    letter-spacing: 0.12em;
}