body {
    margin: 0;
    background-color: #F5F5F5;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

    /*Головне меню*/

header {
    background-color: #243B93;    
}

.header {
    width: 85%;
    height: 65px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.logo {
    position: relative;
    height: 50px;
    margin: auto 0;
}

.navbar {
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    margin-left: 8%;
    text-align: center;
}

.navbar li:nth-child(2) {
    white-space: nowrap;
}

.navbar a {
    text-transform: uppercase;
}

.lang {
    position: relative;
    display: flex;
}

    /*Основний контент*/

.center {
    margin: auto;
}

.left {
    margin: auto 0;
}

.mainbar {
    background-color: #BFF0FF;
    height: 85px;
    padding-left: 7.5%;
    font-size: 44px;
    font-style: italic;
    color: #202846;
    display: flex;
}

.maincontent {
    width: 85%;
    margin: auto;
}

.maincontent_top_bar {
    background-color: #FFFFFF;
    font-size: 28px;
    height: 57px;
    margin: 25px 0;
    display: flex;
}

    /*Картки*/

.card {
    background: linear-gradient(.25turn, #ADCBD4, #00AEE5);
    padding: 30px 50px 20px;
    position: relative;
    margin-bottom: 50px;
}

.card_content {
    display: flex;
}

.card_photo {
    height: 250px;
}

.card_photo img {
    height: 100%;
}

.card_info {
    padding-left: 25px;
}

.card_info_name {
    box-sizing: border-box;
    border-bottom: 3px solid #FFFFFF;
    font-size: 36px;
    font-weight: 700;
    font-style: italic;
    color: #353C57;
    height: 45px;
}

.card_info_description {
    margin-top: 10px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #EDFBFF;
    font-size: 22px;
    color: #202846;
    overflow: auto;
    height: 195px;
}

.card_star {
    position: absolute;
    right: 10px;
    top: 6px;
}

.card_star svg .card_star_color {
    fill: #FFFFFF;
}

.card_button {
    width: 210px;
    height: 46px;
    border-radius: 23px;
    background-color: #243B93;
    position: absolute;
    bottom: 10px;
    right: -30px;
    color: #FFFFFF;
    font-size: 24px;
    text-align: center;
    display: flex;
}

section:hover .card {
    background: #2CBDEB;
    box-shadow: 0px 0px 60px 4px #2CBDEB;
}

section:hover .card_star svg .card_star_color {
    fill: #FFF500;
}

section:hover .card_button {
    background-color: #EF075B;
}

    /*Стрілка наверх*/

.arrow {
    position: fixed;
    right: 30px;
    bottom: 50px;
    width: 60px;
}

.arrow img {
    width: 100%;
}