body {
    margin: 0;
    font-family: 'DM Serif Display', serif;
    font-family: 'Padauk', sans-serif;
    font-family: 'Public Sans', sans-serif;
}

a {
    text-decoration: none;
}

.content {
    min-width: 700px;
    max-width: 1200px;
    margin: auto;
}

.mainpage_button {
    background-color: #015FC7;
    width: 180px;
    color: #FFFFFF;
    text-transform: uppercase;
    border: 0;
    border-radius: 4px;
}

.loginpage_button {
    height: 45px;
}

.regpage_button {
    height: 35px;
    margin: 20px 0 0 85px;
}

    /*Головна сторінка*/

.mainpage {
    background-color: #2F2E41;
    height: 100vh;
}

.loginpage, .regpage {
    height: 100vh;
    display: flex;
    align-items: center;
}

    /*Картинка на гол. сторінці*/

.mainpage_img {
    width: 45%;
    margin-right: 5%;
}

.loginpage_img img {
    width: 100%;    
}

.regpage_img {
    margin-left: 10%;
}

.regpage_img img {
    width: 70%;
}

    /*Форма на гол. сторінці*/

.mainpage_title {
    font-family: 'DM Serif Display', serif;
    color: #FFFFFF;
    font-weight: 400;
}

.loginpage_title {
    margin: 0 0 45px;
    font-size: 45px;
}

.regpage_title {
    margin: 0 0 10px;
    font-size: 40px;
}

.mainpage_form {
    font-family: 'Padauk', sans-serif;
    font-weight: 400;
    color: #FFFFFF;
}

.loginpage_form {
    font-size: 20px;
}

.regpage_form {
    font-size: 18px;
}

.mainpage_form a {
    color: #499FFE;
}

.loginpage_paragraph {
    margin: 0 0 15px;
}

.regpage_paragraph {
    margin: 0 0 3px;
}

.loginpage_input {
    width: 350px;
    height: 45px;
    border: 0;
}

.regpage_input {
    width: 350px;
    height: 30px;
    border: 0;
}

    /*Сторінка з формами*/

.formpage {
    background-color: #E5E5E5;
    color: #171717;
    font-family: 'Public Sans', sans-serif;
    padding: 65px 40px 110px;
    box-sizing: border-box;
}

.redtext {
    color: #D83933;
}

.formpage_titleblock {
    font-size: 14px;
    font-weight: 400;
}

.titleblock_title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 80px;
}

.formpage_formblock {
    margin-top: 30px;
    border-bottom: 1px solid #D1D1D1;
}

.formblock_title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 30px;
}

.formblock_form {
    margin-bottom: 25px;
}

.formblock_fields {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.formblock_row {
    display: flex;
    flex-direction: column;
    width: 48%;
}

.formblock_check {
    width: 48%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.formblock_checkbox {
    margin-right: 10px;
    width: 24px;
    height: 24px;
    border: 1px solid #ADADAD;
}

.formblock_label {
    font-size: 16px;
    font-weight: 500;
}

.formblock_input {
    height: 40px;
    margin-top: 8px;
    border: 1px solid #ADADAD;
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 10px;
    font-size: 16px;
    font-weight: 400;
}

.formblock_input_bg_arrow {
    background-image: url("../img/arrow.png");
    background-position: right;
    background-repeat: no-repeat;
}

.formblock_input_bg_search {
    background-image: url("../img/search.png");
    background-position: 98% center;
    background-repeat: no-repeat;
}

.form_ph::placeholder {
    color: #171717;
}

.form_ph_span::placeholder {
    color: #0050D8;
}

.formpage_buttonblock {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}

.formpage_button {
    background-color: #0050D8;
    color: #FFFFFF;
    border: 0;
    border-radius: 4px;
    height: 40px;
    padding: 0 20px;
    font-weight: 700;
    font-size: 16px;
}







