body {
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
    background-color: #212529;
    color: #FFFFFF;
    margin: 0;
}

.maincontent {
    min-width: 900px;
    max-width: 1500px;
    margin: auto;
    padding: 15px 50px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: 700;
    margin: 0;
}

h4 {
    display: inline-block;
    width: max-content;
    background-color: #292B2E;
    margin: 0;
    padding: 5px 25px;
    border-radius: 50px;
    color: #FFB742;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.main_link {
    color: #FFFFFF;
}

.dif_color {
    color: #FFB742;
}

.mainbutton_link {
    color: #212529;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.link_hover_span:hover {
    color: #FFB742;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
}

.mainbutton {
    width: 140px;
    height: 54px;
    color: #212529;
    background-color: #FFB742;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block_par {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #D4D4D4;
    margin: 30px 0 50px;
}

    /*Навігація*/

.logo img {
    height: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-left: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.navbar_item {
    margin-left: 25px;
}

    /*Блок з аватаром*/

.avatarblock {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    font-family: 'Inter', sans-serif;
}

#span_name {
    text-decoration: underline;
}

h1, h2 {
    
    font-weight: 700;
    margin: 0;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 32px;
}

.avatarblock_par {
    font-weight: 400;
    font-size: 24px;
    margin: 25px 0;
}

.avatarblock_img {
    width: 210px;
}

.avatarblock_img img {
    width: 100%;
}

    /*Блок з метриками*/

.meterblock {
    display: flex;
    justify-content: space-between;
    margin: 130px 0 220px;
    height: 120px;
}

.meterblock_button {
    width: 32%;
    height: 100%;
    border-radius: 10px; 
    background-color: #292B2E;   
}

.meterblock_button:hover {
    background: linear-gradient(0.25turn, #FFB742, #FF7B42);
    color: #212529;
}

.meterblock_button:hover .meterblock_span, .meterblock_button:hover .meterblock_link {
    color: #212529;
}

.meterblock_link {
    display: inline-block;
    width: 100%;
    padding: 25px 30px;
    box-sizing: border-box;
}

.meterblock_content {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.meterblock_data {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: 'Inter', sans-serif;
}


.meterblock_par {
    margin: 0;
    font-size: 16px;
    font-weight: 700;
}

.meterblock_span {
    font-size: 32px;
}

.meterblock_arrow {
    display: flex;
    align-items: center;
}

    /*Блок About*/

.aboutblock {
    display: flex;
    justify-content: space-between;    
}

.aboutblock_photo {
    width: 48%;
}

.aboutblock_photo img {
    width: 100%;
}

.aboutblock_info {
    width: 50%;
    display: flex;
    flex-direction: column;
}

    /*Блок Skills*/

.skillsblock {
    display: flex;
    justify-content: space-between;
}

.skillsblock_info {
    width: 50%;
}

.skillsblock_techs {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.skillsblock_tech {
    display: flex;
    flex-wrap: nowrap;
    justify-content: end;
    align-items: flex-start;
}

.skillsblock_tech_icon {
    width: 70px;
    height: 70px;
    margin: 10px;
    background-color: #383E45;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skillsblock_tech_icon:hover {
    background-color: rgba(255, 183, 66, 0.5);
}

.skillsblock_tech_icon a {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding-top: 25%;
    box-sizing: border-box;
    text-align: center;
}

.skillsblock_tech_icon #figma {
    padding-top: 12.5%;
}

.skillsblock_tech_icon img {
    width: 50%;
}

    /*Блок Works*/

.worksblock {
    margin-top: 130px;
}

.worksblock_info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.worksblock_info_menu {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 60%;
}

.worksblock_info_menu a {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 3px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.worksblock_info_menu a:hover {
    background-color: #FFB742;
    color: #212529;
}

.worksblock_works {
    display: flex;
    justify-content: space-between;
}

.worksblock_works_col {
    width: 32%;
}

.worksblock_works_col img {
    width: 100%;
}

.worksblock_works_col_top {
    margin-bottom: 30px;
}

    /*Блок з відгуками*/

.commentsblock {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 130px 0 220px;
}

.commentsblock_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.commentsblock_cards {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 90px;
}

.commentsblock_card {
    width: 30%;
    min-height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 50px 30px;
    box-sizing: border-box;
    background-color: #FFFFFF;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
    color: #000000;
}

.commentsblock_card_par {    
    font-size: 20px;
    font-weight: 400;
    
}

.commentsblock_card_client {
    display: flex;
    justify-content: space-between;
}

.commentsblock_card_client_foto {
    width: 25%;
}

.commentsblock_card_client_foto img {
    width: 100%;
}

.commentsblock_card_client_info {
    width: 70%;
}

.commentsblock_card_client_name {
    font-size: 20px;
    font-weight: 700;
    margin: 5px 0 0;
}

.commentsblock_card_client_prof {
    font-size: 16px;
    font-weight: 400;
    margin-top: 0;
}

    /*Footer*/

footer {
    height: 450px;
}    

.footer {
    height: 100%;
    background-color: #1C1C1C;
    padding: 8% 3%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    font-family: 'Work Sans', sans-serif;
}

.footer_info {
    min-width: 24%;
}

.footer_name {
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 700;
}

.footer_par {
    font-size: 16px;
    font-weight: 600;
    color: #D4D4D4;;
}

.footer_title {
    font-size: 22px;
    font-weight: 700;
    color: #F5FBF2;
    margin-top: 0;
}

.footer_links {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
}

.footer_links li {
    margin: 5px 0;
}

.footer_text {
    color: #7B7B7B;
    font-size: 18px;
    font-weight: 500;
}

a.footer_text:hover {
    color: #FFB742;
}
