body {
    margin: 0;
    background-color: #FFFFFF;
}

.content {
    width: 100%;
}

.center {
    text-align: center;
    margin: auto;
}
 
.strong_ukraine {
    height: 100px;
    padding-top: 1em;
    font-size: 48px;
    letter-spacing: 0.1em;
}

.strong_ukraine_blue {
    color: #3E45E8;
}

.strong_ukraine_yellow {
    color: #E8C23E;
}

    /*Текст на фоні*/

.header {
    background-image: url("../img/bgimg.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 600px;
    padding-top: 20%;
}

.header_text {
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 700;
    height: 260px;
    margin-left: 3%;
    padding-left: 3%;
    background-image: url("../img/bgflagleft.png");
    background-repeat: no-repeat;
    background-size: contain;
}

    /*Картки*/

.title {
    font-size: 40px;
    font-weight: 700;
}

.title_left {
    width: 50%;
    background-image: url("../img/bgflagbottom.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 2% 5%;
}

.cards {
    text-align: center;
}

.card {
    display: inline-block;
    width: 30%;
    border: 5px solid #0D095F;
    box-sizing: border-box;
    border-radius: 30px;
    box-shadow: 0 20px 20px rgba(0, 209, 255, 0.25);
}

.card_middle {
    margin: 3% 1.5%;
}

.card_img {
    border-radius: 30px 30px 10px 10px;
}

.card_img img {
    width: 100%;
}

.card_title {
    font-size: 24px;
    font-weight: 700;
    color: #0072DB;
    margin: 5%;
    text-align: left;
}

.card_description {
    min-height: 150px;
    font-size: 20px;
    color: #FF9900;
    text-align: left;
    margin: 0 5%;
}

    /*Зображення України та кнопка*/

.title_center {
    width: 45%;
    padding: 1% 0;
    border-bottom: 7px solid #1400FF;
}

.map {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 70%;
}

.map img {
    width: 100%;
}

.button {
    width: 30%;
    height: 80px;
}

.button_link {
    display: block;    
    font-size: 64px;
    font-weight: 700;
    color: #FFFFFF;
    text-decoration: none;
    background-color: #2A61F0;
    border-radius: 40px;
}

    /*Блок контактів*/

footer {
    background: linear-gradient(#013235,#0D0661);
    padding-bottom: 50px;
    margin-top: 50px;
}

.contacts a {
    font-size: 36px;
    color: #A89D9D;
    text-decoration: none;
    letter-spacing: 0.1em;
}

.media_link {
    display: inline-block;
    margin: 10px 15px;
}